.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-appear-enter-active {
  transition: opacity 0.2s ease;
}

.fade-appear-enter-from {
  opacity: 0;
}
